

    {% load custom_tags %}
    {% load static %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Product List</title>
      <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
      <link href="{% static 'css/mycss.css' %}" rel="stylesheet">
      <style>
        body {
          overflow-x: hidden;
        }
      </style>
    </head>
    <body>
    <div class="container-fluid">

      <h1 class="my-4 text-center">
        <a href="/" style="text-decoration: none; color: inherit;">
          美工组-商品资料站-测试版
        </a>
      </h1>

      <form id="filterForm" method="GET" class="form-inline mb-1">
        <input type="text" name="product_code" class="form-control mr-2 mb-2" placeholder="货号" value="{{ filters.product_code }}">
        <input type="text" name="original_product_code" class="form-control mr-2 mb-2" placeholder="原始货号" value="{{ filters.original_product_code }}">
        <input type="text" name="style_code" class="form-control mr-2 mb-2" placeholder="款号" value="{{ filters.style_code }}">
        <input type="text" name="factory_code" class="form-control mr-2 mb-2" placeholder="工厂代码" value="{{ filters.factory_code }}">
        <input type="text" name="factory_product_code" class="form-control mr-2 mb-2" placeholder="工厂货号" value="{{ filters.factory_product_code }}">
        <input type="text" name="insole_material" class="form-control mr-2 mb-2" placeholder="鞋垫材质" value="{{ filters.insole_material }}">
        <input type="text" name="outsole_material" class="form-control mr-2 mb-2" placeholder="大底材质" value="{{ filters.outsole_material }}">
        <input type="text" name="lining_material" class="form-control mr-2 mb-2" placeholder="内里材质" value="{{ filters.lining_material }}">
        <input type="text" name="upper_material" class="form-control mr-2 mb-2" placeholder="鞋面材质" value="{{ filters.upper_material }}">
        <input type="text" name="group" class="form-control mr-2 mb-2" placeholder="组别" value="{{ filters.group }}">
        <input type="text" name="platform" class="form-control mr-2 mb-2" placeholder="所属平台" value="{{ filters.platform }}">
        <input type="number" name="cost" class="form-control mr-2 mb-2" placeholder="成本" value="{{ filters.cost }}">
        <input type="text" name="product_name" class="form-control mr-2 mb-2" placeholder="品名" value="{{ filters.product_name }}">
        <input type="text" name="season_classification" class="form-control mr-2 mb-2" placeholder="季节分类" value="{{ filters.season_classification }}">
        <input type="text" name="season" class="form-control mr-2 mb-2" placeholder="季节" value="{{ filters.season }}">
        <input type="text" name="category" class="form-control mr-2 mb-2" placeholder="三级分类" value="{{ filters.category }}">
        <input type="text" name="first_order_date" class="form-control mr-2 mb-2" placeholder="首单日期" value="{{ filters.first_order_date }}">
        <input type="text" name="vip_first_sale_date" class="form-control mr-2 mb-2" placeholder="唯品首次售卖时间" value="{{ filters.vip_first_sale_date }}">
        <input type="text" name="dew_first_sale_date" class="form-control mr-2 mb-2" placeholder="得物首次售卖时间" value="{{ filters.dew_first_sale_date }}">
        <input type="text" name="latest_status" class="form-control mr-2 mb-2" placeholder="最新上下线状态" value="{{ filters.latest_status }}">
        <input type="text" name="original_status" class="form-control mr-2 mb-2" placeholder="原始货号上线状态" value="{{ filters.original_status }}">
        <button type="submit" class="btn btn-primary mr-2 mb-2">执行筛选</button>
        <button type="button" class="btn btn-secondary mb-2" id="clearFilters">清除所有筛选</button>
      </form>

      

      <div class="table-responsive">
          <table class="table table-striped table-sm table-bordered custom-table">
              <thead>
                  <tr class="text-center align-middle">
                      <th>图片</th>
                      <th><a href="{% sort_url 'product_code' %}">货号{% if current_sort == 'product_code' %} {% if current_order == 'asc' %}▲{% else %}▼{% endif %}{% endif %}</a></th>
                      <th><a href="{% sort_url 'original_product_code' %}">原始货号{% if current_sort == 'original_product_code' %} {% if current_order == 'asc' %}▲{% else %}▼{% endif %}{% endif %}</a></th>
                      <th><a href="{% sort_url 'style_code' %}">款号{% if current_sort == 'style_code' %} {% if current_order == 'asc' %}▲{% else %}▼{% endif %}{% endif %}</a></th>
                      <th><a href="{% sort_url 'factory_code' %}">工厂代码{% if current_sort == 'factory_code' %} {% if current_order == 'asc' %}▲{% else %}▼{% endif %}{% endif %}</a></th>
                      <th><a href="{% sort_url 'factory_product_code' %}">工厂货号{% if current_sort == 'factory_product_code' %} {% if current_order == 'asc' %}▲{% else %}▼{% endif %}{% endif %}</a></th>
                      <th><a href="{% sort_url 'insole_material' %}">鞋垫材质{% if current_sort == 'insole_material' %} {% if current_order == 'asc' %}▲{% else %}▼{% endif %}{% endif %}</a></th>
                      <th><a href="{% sort_url 'outsole_material' %}">大底材质{% if current_sort == 'outsole_material' %} {% if current_order == 'asc' %}▲{% else %}▼{% endif %}{% endif %}</a></th>
                      <th><a href="{% sort_url 'lining_material' %}">内里材质{% if current_sort == 'lining_material' %} {% if current_order == 'asc' %}▲{% else %}▼{% endif %}{% endif %}</a></th>
                      <th><a href="{% sort_url 'upper_material' %}">鞋面材质{% if current_sort == 'upper_material' %} {% if current_order == 'asc' %}▲{% else %}▼{% endif %}{% endif %}</a></th>
                      <th><a href="{% sort_url 'group' %}">组别{% if current_sort == 'group' %} {% if current_order == 'asc' %}▲{% else %}▼{% endif %}{% endif %}</a></th>
                      <th><a href="{% sort_url 'platform' %}">所属平台{% if current_sort == 'platform' %} {% if current_order == 'asc' %}▲{% else %}▼{% endif %}{% endif %}</a></th>
                      <th><a href="{% sort_url 'cost' %}">成本{% if current_sort == 'cost' %} {% if current_order == 'asc' %}▲{% else %}▼{% endif %}{% endif %}</a></th>
                      <th><a href="{% sort_url 'product_name' %}">品名{% if current_sort == 'product_name' %} {% if current_order == 'asc' %}▲{% else %}▼{% endif %}{% endif %}</a></th>
                      <th><a href="{% sort_url 'season_classification' %}">季节分类{% if current_sort == 'season_classification' %} {% if current_order == 'asc' %}▲{% else %}▼{% endif %}{% endif %}</a></th>
                      <th><a href="{% sort_url 'season' %}">季节{% if current_sort == 'season' %} {% if current_order == 'asc' %}▲{% else %}▼{% endif %}{% endif %}</a></th>
                      <th><a href="{% sort_url 'category' %}">三级分类{% if current_sort == 'category' %} {% if current_order == 'asc' %}▲{% else %}▼{% endif %}{% endif %}</a></th>
                      <th><a href="{% sort_url 'first_order_date' %}">首单日期{% if current_sort == 'first_order_date' %} {% if current_order == 'asc' %}▲{% else %}▼{% endif %}{% endif %}</a></th>
                      <th><a href="{% sort_url 'vip_first_sale_date' %}">唯品首次售卖时间{% if current_sort == 'vip_first_sale_date' %} {% if current_order == 'asc' %}▲{% else %}▼{% endif %}{% endif %}</a></th>
                      <th><a href="{% sort_url 'dew_first_sale_date' %}">得物首次售卖时间{% if current_sort == 'dew_first_sale_date' %} {% if current_order == 'asc' %}▲{% else %}▼{% endif %}{% endif %}</a></th>
                      <th><a href="{% sort_url 'latest_status' %}">最新上下线状态{% if current_sort == 'latest_status' %} {% if current_order == 'asc' %}▲{% else %}▼{% endif %}{% endif %}</a></th>
                      <th><a href="{% sort_url 'original_status' %}">原始货号上线状态{% if current_sort == 'original_status' %} {% if current_order == 'asc' %}▲{% else %}▼{% endif %}{% endif %}</a></th>
                  </tr>
              </thead>
              <tbody>
                  {% for product in page_obj %}
                  <tr class="text-center align-middle">
                      <td>
                          {% if product.img_path %}
                          <img src="{% static product.img_path %}" alt="{{ product.product_code }}" width="100" class="img-thumbnail product-image" data-toggle="modal" data-target="#imageModal">
                          {% else %}
                          No Image
                          {% endif %}
                      </td>
                      <td contenteditable="true" onblur="saveData(this, '{{ product.id }}', 'product_code')">{{ product.product_code }}</td>
                      <td contenteditable="true" onblur="saveData(this, '{{ product.id }}', 'original_product_code')">{{ product.original_product_code }}</td>
                      <td contenteditable="true" onblur="saveData(this, '{{ product.id }}', 'style_code')">{{ product.style_code }}</td>
                      <td contenteditable="true" onblur="saveData(this, '{{ product.id }}', 'factory_code')">{{ product.factory_code }}</td>
                      <td contenteditable="true" onblur="saveData(this, '{{ product.id }}', 'factory_product_code')">{{ product.factory_product_code }}</td>
                      <td contenteditable="true" onblur="saveData(this, '{{ product.id }}', 'insole_material')">{{ product.insole_material }}</td>
                      <td contenteditable="true" onblur="saveData(this, '{{ product.id }}', 'outsole_material')">{{ product.outsole_material }}</td>
                      <td contenteditable="true" onblur="saveData(this, '{{ product.id }}', 'lining_material')">{{ product.lining_material }}</td>
                      <td contenteditable="true" onblur="saveData(this, '{{ product.id }}', 'upper_material')">{{ product.upper_material }}</td>
                      <td contenteditable="true" onblur="saveData(this, '{{ product.id }}', 'group')">{{ product.group }}</td>
                      <td contenteditable="true" onblur="saveData(this, '{{ product.id }}', 'platform')">{{ product.platform }}</td>
                      <td contenteditable="true" onblur="saveData(this, '{{ product.id }}', 'cost')">{{ product.cost }}</td>
                      <td contenteditable="true" onblur="saveData(this, '{{ product.id }}', 'product_name')">{{ product.product_name }}</td>
                      <td contenteditable="true" onblur="saveData(this, '{{ product.id }}', 'season_classification')">{{ product.season_classification }}</td>
                      <td contenteditable="true" onblur="saveData(this, '{{ product.id }}', 'season')">{{ product.season }}</td>
                      <td contenteditable="true" onblur="saveData(this, '{{ product.id }}', 'category')">{{ product.category }}</td>
                      <td contenteditable="true" onblur="saveData(this, '{{ product.id }}', 'first_order_date')">{{ product.first_order_date }}</td>
                      <td contenteditable="true" onblur="saveData(this, '{{ product.id }}', 'vip_first_sale_date')">{{ product.vip_first_sale_date }}</td>
                      <td contenteditable="true" onblur="saveData(this, '{{ product.id }}', 'dew_first_sale_date')">{{ product.dew_first_sale_date }}</td>
                      <td contenteditable="true" onblur="saveData(this, '{{ product.id }}', 'latest_status')">{{ product.latest_status }}</td>
                      <td contenteditable="true" onblur="saveData(this, '{{ product.id }}', 'original_status')">{{ product.original_status }}</td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
      
    
      
      <form method="get" id="pagination-form">
        <label for="per_page">每页显示条数:</label>
        <select name="per_page" id="per_page" onchange="this.form.submit()">
          <option value="10" {% if per_page == 10 %}selected{% endif %}>10</option>
          <option value="20" {% if per_page == 20 %}selected{% endif %}>20</option>
          <option value="50" {% if per_page == 50 %}selected{% endif %}>50</option>
          <option value="100" {% if per_page == 100 %}selected{% endif %}>100</option>
          <option value="300" {% if per_page == 300 %}selected{% endif %}>300</option>
          <option value="500" {% if per_page == 500 %}selected{% endif %}>500</option>
        </select>
        {% for key, value in request.GET.items %}
          {% if key != 'per_page' and key != 'page' %}
            <input type="hidden" name="{{ key }}" value="{{ value }}">
          {% endif %}
        {% endfor %}
      </form>                                                 
      
      <div class="pagination">
        <span class="step-links">
          {% if page_obj.has_previous %}
            <a href="?page=1&per_page={{ per_page }}{% for key, value in request.GET.items %}{% if key != 'page' and key != 'per_page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">&laquo; 第一页</a>
            <a href="?page={{ page_obj.previous_page_number }}&per_page={{ per_page }}{% for key, value in request.GET.items %}{% if key != 'page' and key != 'per_page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">前一页</a>
          {% endif %}
          <span class="current">
            第 {{ page_obj.number }} 页 / 一共 {{ page_obj.paginator.num_pages }}页 
          </span>
          {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&per_page={{ per_page }}{% for key, value in request.GET.items %}{% if key != 'page' and key != 'per_page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">下一页</a>
            <a href="?page={{ page_obj.paginator.num_pages }}&per_page={{ per_page }}{% for key, value in request.GET.items %}{% if key != 'page' and key != 'per_page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">最后一页 &raquo;</a>
          {% endif %}
        </span>
      </div>
      
    </div>
    
    <!-- The Modal -->
    <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="imageModalLabel">图片预览</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <img id="modalImage" src="" class="img-fluid" alt="Product Image">
          </div>
        </div>
      </div>
    </div>
    
    <!-- jQuery and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/myjs.js' %}"></script>
    </body>
    </html>
    